<header>
    <div class="header-content">
        <h1>{{title}}</h1> <!-- Título dinámico -->
        <p>Desarrollador | Branly Pixabaj Alva</p>
    </div>
    <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
</header>
