<nav>
        <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
        <ul id="menu" class="menu">
               <li><a href="/">Inicio</a></li>
        <li><a href="/sobremi">Sobre Mí</a></li>
        <li><a href="/proyecto1">Proyecto 1</a></li>
        <li><a href="/proyecto2">Proyecto 2</a></li>
        <li><a href="/proyecto3">Proyecto 3</a></li>
        <li><a href="/proyecto4">Proyecto 4</a></li>
        <li><a href="/proyecto5">Proyecto 5</a></li>
        <li><a href="/proyecto6">Proyecto 6</a></li>
        <li><a href="/proyecto7">Proyecto 7</a></li>
        <li><a href="/proyecto8">Proyecto 8</a></li>
        <li><a href="/proyecto9">Proyecto 9</a></li>
        <li><a href="/proyecto10">Proyecto 10</a></li>
        <li><a href="/proyecto11">Proyecto 11</a></li>
        <li><a href="/proyecto12">Proyecto 12</a></li>
        </ul>
    </nav>