<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 10 - Oscar Branly Pixabaj Alva</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styleproyectos.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Cálculo de Jubilación</h1>
        </div>
    </header>

    <!-- Menú desplegable -->
    <nav>
        <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
        <ul id="menu" class="menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="sobremi.html">Sobre Mí</a></li>
            <li><a href="proyecto1.html">Proyecto 1</a></li>
            <li><a href="proyecto2.html">Proyecto 2</a></li>
            <li><a href="proyecto3.html">Proyecto 3</a></li>
            <li><a href="proyecto4.html">Proyecto 4</a></li>
            <li><a href="proyecto5.html">Proyecto 5</a></li>
            <li><a href="proyecto6.html">Proyecto 6</a></li>
            <li><a href="proyecto7.html">Proyecto 7</a></li>
            <li><a href="proyecto8.html">Proyecto 8</a></li>
            <li><a href="proyecto9.html">Proyecto 9</a></li>
            <li><a href="proyecto10.html">Proyecto 10</a></li>
            <li><a href="proyecto11.html">Proyecto 11</a></li>
            <li><a href="proyecto12.html">Proyecto 12</a></li>
            
        </ul>
    </nav>

    <div id="content">
        <section class="project-details">
            <div class="project-image">
                <img src="./images/jubi.png" alt="Imagen del Proyecto 9">
            </div>
            <div class="project-description">
                <h2>Descripción</h2>
                <p>El proyecto consiste en una página web interactiva diseñada 
                    para calcular la jubilación que un ciudadano puede recibir por parte del estado. 
                    Los usuarios ingresarán información clave como edad, años de cotización, salario promedio, 
                    y otros parámetros relevantes según las normativas locales. La página calculará el monto 
                    aproximado de jubilación con base en esos datos y presentará los resultados de manera clara 
                    y comprensible. Está enfocada en ofrecer una herramienta sencilla y accesible para que los 
                    usuarios puedan planificar su retiro con mayor precisión.

                   <br><br><strong> Características Principales:</strong>
                    
                   <br><br><strong>Formulario interactivo: </strong>
                   <br>Los usuarios pueden ingresar datos como la edad, años trabajados, salario promedio y otros factores necesarios para el cálculo.
                    
                   
                   <br><br><strong>Cálculos automáticos: </strong>Cálculos automáticos: 
                   <br>Utiliza fórmulas predeterminadas para calcular el monto de jubilación basado en las leyes vigentes.
                
                
                   <br><br><strong>Interfaz amigable:</strong>Interfaz amigable: 
                   <br>Diseño minimalista y limpio para facilitar la navegación, enfocado en la accesibilidad.
                    
                   
                   <br><br><strong>Resultados claros: </strong>Resultados claros: 
                   <br>Los resultados de los cálculos se presentan de manera fácil de entender, con detalles adicionales sobre el proceso de cálculo.

                   <br><br><strong>Responsividad: </strong>Responsividad: 
                   <br>La página está optimizada para diferentes dispositivos, desde computadoras hasta móviles.

                   <br><br><strong>Normativas actualizadas:</strong> 
                   <br>Se ajusta a las normativas actuales del estado en términos de edad mínima de jubilación, años de cotización y otros criterios relevantes.
                  
                </p>
                <ul class="features">
                    <li><span>Función 1:</span> Cálculo de monto de jubilación</li>
                    <li><span>Función 2:</span> Simulación de escenarios</li>
                    <li><span>Función 3:</span> Validación de datos</li>
                </ul>
                <a href="https://bran2211.github.io/AplicacionCalculoJubilacion/" class="cta-button">Ver Demo</a>
            </div>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Oscar Branly Pixabaj Alva. Todos los derechos reservados.</p>
    </footer>

    <script>
        function toggleMenu() {
            const menu = document.getElementById("menu");
            menu.classList.toggle("show");
        }
    </script>
</body>
</html>
